*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "gothic";
  src: local("gothic"), url("/gothic.woff") format("woff");
}
body {
  font-family: "gothic", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #0f1320;
  position: relative;
  scroll-behavior: smooth;
}

.bg-effector {
  width: 100%;
  height: 100vh;
  height: 100dvh;
  position: absolute;
  overflow: hidden;
  z-index: -1;
  top: 0;
}
.bg-effector > img {
  width: 100%;
  height: 100vh;
  max-height: 1000px;
  filter: blur(50px) saturate(100%);
  rotate: -165deg;
  translate: 350px -220px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
}

.border-radius-top-left-circle {
  border-top-left-radius: 20vw;
}

.border-radius-top-right-circle {
  border-top-right-radius: 20vw;
}

@media screen and (max-width: 720px) {
  .border-radius-top-right-circle {
    border-top-right-radius: 0;
    border-top-left-radius: 40vw;
  }
  .border-radius-top-left-circle {
    border-top-left-radius: 0;
    border-top-right-radius: 40vw;
  }
}
.inverse-radius-w-r-b::after {
  content: " ";
  display: block;
  position: absolute;
  right: 0;
  height: 300px;
  width: 300px;
  background: transparent;
  box-shadow: 150px 0 0 0 white;
  border-top-right-radius: 50%;
}
@media (max-width: 992px) {
  .inverse-radius-w-r-b::after {
    display: none;
  }
}

.py-10 {
  padding-block: 5rem;
}

.time-line .time-line-list .diode {
  position: relative;
  display: inline-block;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 33.3333333333px;
  padding: 0.9rem;
  color: #0f1320;
  background-color: var(--accent-color);
}
.time-line .time-line-list .diode + * {
  translate: 0 8px;
}
.time-line .time-line-list .diode::after {
  position: absolute;
  right: -20px;
  top: calc(50% - 5px);
  content: " ";
  display: inline-block;
  padding: 5px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-color: var(--accent-color);
}
.time-line .time-line-list ul {
  padding: 0;
  list-style-type: none;
  list-style-type: none;
}
.time-line .time-line-list ul > li {
  counter-increment: item;
  margin-top: 5px;
}
.time-line .time-line-list ul > li:before {
  margin-right: 10px;
  content: "0" counter(item);
  border-radius: 100%;
  color: var(--accent-color);
  width: 1.2em;
  display: block;
}

.collapse:is(.custom):not(.show) {
  display: block;
  position: relative;
  overflow: hidden;
  max-height: 300px;
}
.collapse:is(.custom):not(.show)::after {
  content: " ";
  display: block;
  height: 200px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
  position: absolute;
  bottom: 0;
}

.collapsing {
  height: 400px !important;
}

.diode {
  position: relative;
  display: inline-block;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 33.3333333333px;
  padding: 0.9rem;
  color: #333;
  background-color: var(--accent-color);
}
.diode + * {
  translate: 0 8px;
}

.presale-detail-card {
  padding: 100px 70px 20px 70px;
}

.fly-lower-text {
  color: transparent;
  -webkit-text-stroke: 1px rgba(0, 0, 0, 0.1);
  font-size: 150px;
  top: 50px;
  font-weight: 700;
  font-family: sans-serif;
}

.presale-detail-carousel {
  scroll-behavior: smooth;
}
.presale-detail-carousel::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media (min-width: 1000px) {
  #presaleCarousel {
    justify-content: center;
  }
  .slider-button-wrapper {
    display: none;
  }
}
.slider-button-wrapper {
  margin: 1rem auto;
  padding: 0;
}
.slider-button-wrapper a {
  outline: none;
  border: none;
  background-color: transparent;
  border: 1px solid white;
  padding: 2px;
  display: inline-block;
  margin-left: 1rem;
  border-radius: 50%;
}
.slider-button-wrapper a:focus, .slider-button-wrapper a:active, .slider-button-wrapper a:hover {
  padding: 4px;
  background-color: rgb(255, 255, 255);
}
.slider-button-wrapper a a {
  height: 100%;
  width: 100%;
}

.presale-detail {
  position: relative;
  padding-top: 2rem;
  background: url("/abstract-2.2.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.presale-detail .presale-detail-bg {
  position: absolute;
  object-fit: contain;
  object-position: center;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  z-index: -1;
}
.presale-detail .wrapper {
  padding-top: 3rem;
}

.presale-detail-card:nth-child(2) {
  margin-top: 80px;
}

@media (max-width: 1000px) {
  .presale-detail-card {
    flex-shrink: 0;
  }
  .presale-detail-card:nth-child(2) {
    margin-top: 0;
  }
  .presale-detail {
    padding-top: 12rem;
  }
}
@media screen and (max-width: 600px) {
  .presale-detail {
    background: url("/abstract-2.3.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: visible;
    padding-block: 15rem;
  }
}
@media screen and (min-width: 600px) {
  .presale-detail {
    overflow: visible;
    padding-block: 12rem;
  }
}
@media screen and (min-width: 1200px) {
  .presale-detail-bg {
    display: block;
  }
  .presale-detail {
    margin-block: 5rem;
    overflow: visible;
    padding-block: 18rem;
  }
}

/*# sourceMappingURL=style.css.map */
