.hero-section {
	padding-block: 30px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	padding-bottom: 200px;
	.hero-content-text {
		max-width: 500px;
		width: 30vw;
		span {
			background: linear-gradient(to bottom, #00b4ec, #2b3087);
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
			background-clip: text;
		}
		h1 {
			font-weight: 700;
		}
	}
	.hero-content-media {
		min-height: 500px;
		& > img {
			top: -100px;
			left: -50px;
			width: 900px;
			scale: 1.25;
		}
		width: 50%;
		@media (max-width: 720px) {
			& > img {
				top: -50px;
				left: -110px;
				width: 800px;
				scale: 1.1;
			}
		}

		// translate: -80px;
	}
}
