$color-green: #22a75d;
$color-navy: #0f1320;
$color-black: #0f1320;
$font-size-heading-primary: 48;
$font-size-heading-secondary: 36;
$font-size-heading-featured: 32;
$font-size-heading-tips: 26;
$font-size-secondary: 16;
$font-size-body-tips: 18;
$font-size-accent: 14;
$font-size-accent-secondary: 12; // barely needed : credit text

// global convention style
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

// Fonts
@font-face {
	font-family: "gothic";
	src: local("gothic"), url("/gothic.woff") format("woff");
}

body {
	font-family: "gothic", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
	background-color: #0f1320;
	position: relative;
}
.bg-effector {
	width: 100%;
	height: 100vh;
	height: 100dvh;
	position: absolute;
	overflow: hidden;
	z-index: -1;
	top: 0;
	& > img {
		width: 100%;
		height: 100vh;
		max-height: 1000px;
		filter: blur(50px) saturate(100%);
		rotate: -165deg;
		border: 1px solid white;
		translate: 350px -220px;
	}
}

::-webkit-scrollbar {
	width: 5px;
	// background-color: rgba(0, 0, 0, 0.089);
	background-color: transparent;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(0, 0, 0);
	border-radius: 10px;
}

$border-circle-radius: 20vw;

.border-radius-top-left-circle {
	border-top-left-radius: $border-circle-radius;
}

.border-radius-top-right-circle {
	border-top-right-radius: $border-circle-radius;
}
@media (max-width: 720px) {
	.border-radius-top-right-circle {
		border-top-right-radius: 0;
		border-top-left-radius: 40vw;
	}
	.border-radius-top-left-circle {
		border-top-left-radius: 0;
		border-top-right-radius: 40vw;
	}
}
.inverse-radius-w-r-b {
	// clip-path: ellipse(45% 46% at 55% 47%);
	&::after {
		content: " ";
		display: block;
		position: absolute;
		right: 0;
		$size: 300px;
		height: $size;
		width: $size;
		background: transparent;
		box-shadow: calc($size / 2) 0 0 0 white;
		border-top-right-radius: 50%;
	}
	@media (max-width: 992px) {
		&::after {
			display: none;
		}
	}
}

.py-10 {
	padding-block: 5rem;
}

// diode for time-line section

.time-line {
	.time-line-list {
		.diode {
			position: relative;
			& + * {
				translate: 0 8px;
			}
			&::after {
				position: absolute;
				right: -20px;
				top: calc(50% - 5px);
				content: " ";
				display: inline-block;
				padding: 5px;
				border-radius: 50%;
				aspect-ratio: 1/1;
				background-color: var(--accent-color);
			}
			display: inline-block;
			$radius-distance: 100px;
			border-top-left-radius: $radius-distance;
			border-top-right-radius: $radius-distance;
			border-bottom-right-radius: $radius-distance;
			border-bottom-left-radius: $radius-distance / 3;
			padding: 0.9rem;
			color: $color-black;
			background-color: var(--accent-color);
			// box-shadow: 0px 0px 5px 0px var(--accent-color);
		}
		ul {
			padding: 0;
			list-style-type: none;
			& > li {
				counter-increment: item;
				margin-top: 5px;
				&:before {
					margin-right: 10px;
					content: "0" counter(item);
					border-radius: 100%;
					color: var(--accent-color);
					width: 1.2em;
					display: block;
				}
			}
			list-style-type: none;
		}
	}
}

.collapse:is(.custom):not(.show) {
	display: block;
	position: relative;
	overflow: hidden;
	max-height: 400px;

	&::after {
		content: " ";
		display: block;
		height: 200px;
		width: 100%;
		background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
		position: absolute;
		bottom: 0;
	}
}
.collapsing {
	height: 400px !important;
}
